* {
  margin: 0;
  padding: 0;
}

/*** Body ***/
/* fond d'écran dégradé */
body {
  font-family: 'Kalnia', serif;
  background: linear-gradient(70deg,
      rgb(104, 104, 199),
      rgb(165, 78, 92)) !important;
}

#titre {
  text-align: center;
}

#titre2 {
  text-align: center;
}

.moi {
  width: 25%;
}

.dev {
  width: 25%;
  display: flex;
}

/* barre de navigation */
section>nav {
  margin: 50px;
  padding: 30%;
}

.navbar-nav {
  font-size: x-large;
}

/* section contact */
#contact {
  width: 100%;
  background: linear-gradient(70deg,
      rgb(104, 104, 199),
      rgb(165, 78, 92)) !important;
}

.map {
  flex-direction: row-reverse;
  width: 70% !important;
  padding: 0%;
}

/* section réseau / footer */
.linkedin,
.github,
.fb,
.insta,
.mention {
  width: 5%;
}

.copy {
  width: 60%;
}






/*
.##.....##.########.########..####....###...
.###...###.##.......##.....##..##....##.##..
.####.####.##.......##.....##..##...##...##.
.##.###.##.######...##.....##..##..##.....##
.##.....##.##.......##.....##..##..#########
.##.....##.##.......##.....##..##..##.....##
.##.....##.########.########..####.##.....##
*/
@media (min-width: 200px) and (max-width: 800px) {
  body {
    background-color: rgb(165, 78, 92);
  }

  .card {
    width: 125%;
  }

  .cv,
  .essob,
  .google,
  .space {
    width: 30%;
  }

  .map {
    flex-direction: column;
  }

  .carte {
    width: 144%;
  }

  .adress {
    width: 100%;
  }

  ul {
    font-size: small !important;
  }

  .linkedin,
  .github,
  .fb,
  .insta,
  .mention {
    width: 15%;

  }

  @media (min-width: 801px) and (max-width: 1024px) {
    body {
      background-color: rgb(165, 78, 92);
    }

    .card {
      width: 125%;
    }

    .cv,
    .essob,
    .google,
    .space {
      width: 30%;
    }

    .map {
      flex-direction: column;
    }

    .carte {
      width: 144%;
    }

    .adress {
      width: 100%;
    }

    ul {
      font-size: small !important;
    }

    .linkedin,
    .github,
    .fb,
    .insta,
    .copy,
    .mention {
      width: 20%;
    }

    .copy {
      padding: 5px;
      width: 25%;
    }
  }

  @media (min-width: 1024px) and (max-width: 600px) {
    .card {
      width: 100% !important;
    }

    .linkedin,
    .github,
    .fb,
    .insta,
    .copy,
    .mention {
      width: 20%;
    }
  }

  @media (min-width: 1024px) and (max-width: 1920px) {

    .cv,
    .essob,
    .google,
    .space {
      width: 30%;
    }

    .map {
      flex-direction: column;
    }

    .carte {
      width: 144%;
    }

    .adress {
      width: 100%;
      display: flex;
    }

    .linkedin,
    .github,
    .fb,
    .insta,
    .copy,
    .mention {
      width: 20%;
    }

    .contact {
      width: 120%;
    }

  }



  /* ************************************************************ */




  /*
.......##..##.....##.########.##....##.########.####..#######..##....##..######...........##
......##...###...###.##.......###...##....##.....##..##.....##.###...##.##....##.........##.
.....##....####.####.##.......####..##....##.....##..##.....##.####..##.##..............##..
....##.....##.###.##.######...##.##.##....##.....##..##.....##.##.##.##..######........##...
...##......##.....##.##.......##..####....##.....##..##.....##.##..####.......##......##....
..##.......##.....##.##.......##...###....##.....##..##.....##.##...###.##....##.....##.....
.##........##.....##.########.##....##....##....####..#######..##....##..######.....##......
*/
  .mention {
    font-family: 'Kalnia', serif;
    background: linear-gradient(70deg,
        rgb(104, 104, 199),
        rgb(165, 78, 92)) !important;
  }
}

/* ************************************************************************ */
/*
.......##..########.....###.....######...########.......########..########...#######..########...#######...######........##
......##...##.....##...##.##...##....##..##.............##.....##.##.....##.##.....##.##.....##.##.....##.##....##......##.
.....##....##.....##..##...##..##........##.............##.....##.##.....##.##.....##.##.....##.##.....##.##...........##..
....##.....########..##.....##.##...####.######.........########..########..##.....##.########..##.....##..######.....##...
...##......##........#########.##....##..##.............##........##...##...##.....##.##........##.....##.......##...##....
..##.......##........##.....##.##....##..##.............##........##....##..##.....##.##........##.....##.##....##..##.....
.##........##........##.....##..######...########.......##........##.....##..#######..##.........#######...######..##......
*/
.intro {
  text-decoration: overline;
}







/*
.##.....##.########.########..####....###...
.###...###.##.......##.....##..##....##.##..
.####.####.##.......##.....##..##...##...##.
.##.###.##.######...##.....##..##..##.....##
.##.....##.##.......##.....##..##..#########
.##.....##.##.......##.....##..##..##.....##
.##.....##.########.########..####.##.....##
*/
@media (min-width: 200px) and (max-width: 800px) {
  #depart {
    text-align: center;
  }

  .centre {
    flex-direction: column-reverse;
    text-align: justify;
    width: 80%;
  }

  .projet {
    width: 85%;
  }


}

/* *********************************************************** */

/*
.......##...########..#######..##.......####..#######.........##
......##....##.......##.....##.##........##..##.....##.......##.
.....##.....##.......##.....##.##........##..##.....##......##..
....##......######...##.....##.##........##..##.....##.....##...
...##.......##.......##.....##.##........##..##.....##....##....
..##........##.......##.....##.##........##..##.....##...##.....
.##.........##........#######..########.####..#######...##......
*/
@media (min-width: 1024px) and (max-width: 600px) {
#menu{width: 85%;}
#row{width: 85% !important}

}
@media (min-width: 300px) and (max-width: 1023px) {
  #menu{width: 50%;}
  #row{width: 85% !important}
  
}
@media (min-width: 1024px) and (max-width: 1400px) {
  #menu{width: 100%;}
  #row{width: 85% !important}

}


/*
.########.##.....##.########..########.########..####.########.##....##..######..########
.##........##...##..##.....##.##.......##.....##..##..##.......###...##.##....##.##......
.##.........##.##...##.....##.##.......##.....##..##..##.......####..##.##.......##......
.######......###....########..######...########...##..######...##.##.##.##.......######..
.##.........##.##...##........##.......##...##....##..##.......##..####.##.......##......
.##........##...##..##........##.......##....##...##..##.......##...###.##....##.##......
.########.##.....##.##........########.##.....##.####.########.##....##..######..########
*/
.expe{text-align: center;}


/*
..######...#######..##....##.########....###.....######..########
.##....##.##.....##.###...##....##......##.##...##....##....##...
.##.......##.....##.####..##....##.....##...##..##..........##...
.##.......##.....##.##.##.##....##....##.....##.##..........##...
.##.......##.....##.##..####....##....#########.##..........##...
.##....##.##.....##.##...###....##....##.....##.##....##....##...
..######...#######..##....##....##....##.....##..######.....##...
*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}
.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 200px){
  .styled-input {
      width:100%;
  }
}
.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { 
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  width: 100%;
  font-size: 1rem;
  background-color: #532929;
  color: white;
  border-radius: 4px;
}

/* input:focus,
textarea:focus { outline: 0; } */

/* input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
} */

textarea {
  width: 100%;
  min-height: 35em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: right;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 #743636,
            0 2px 10px 0 rgba(199, 17, 17, 0.589);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
            0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
  .submit-btn {
      width:100%;
      float: none;
      text-align:center;
  }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}
/*
.##.....##.########.########..####....###...
.###...###.##.......##.....##..##....##.##..
.####.####.##.......##.....##..##...##...##.
.##.###.##.######...##.....##..##..##.....##
.##.....##.##.......##.....##..##..#########
.##.....##.##.......##.....##..##..##.....##
.##.....##.########.########..####.##.....##
*/
@media (min-width: 250px) and (max-width: 1400px) {
  #menu{width: 100%;}
  #contact{width: 88%;}
  #fcontact{
      width: 140%;}
      #contact{width: 100%;}
  }



